@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100&display=swap');


body {
    margin: 0;
    padding: 0;
    color: #3A3B3C;
    font-family: 'Fira Sans', sans-serif;
}

/* HEADER */
.header-wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #60EFFF, #50F2EB, #40F4D7, #30F7C3, #20FAAF, #10FC9B, #00FF87);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 10s ease-in-out infinite;
}

.social-media {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.social-media a {
    text-decoration: none;
    color: #3A3B3C;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 4rem;
    border: 1px solid #3A3B3C;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.95);
}

.social-media a:hover {
    color: #20FAAF;
    background-color: #3A3B3C;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    max-width: 100%;
    box-shadow: 0px 0px 0px 0px #faf9f6;
    z-index: 0;
    transition: 400ms ease-in-out 0;
}

.menu-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;
}

.menu-items ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #3A3B3C;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: end;
}

/* HAMBURGER MENU */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0.3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
    transition: 0ms ease-in-out 0s;
}

.checkbox .trace {
    width: 60px;
    height: 3px;
    background-color: #faf9f6;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0deg);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0deg);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0deg);
}

#toggle {
    display: none;
}

/* ANIMATIONS */
#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #3A3B3C;
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    top: 47px;
    width: 30px;
    background-color: #3A3B3C;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #3A3B3C;
    top: 48px;
}

#toggle:checked+.checkbox {
    background-color: #faf9f6;
}

#toggle:checked~.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #faf9f6;
    width: 25%;
    min-width: 110px;
    height: 100vh;
    z-index: 1;
}

#toggle:checked~.menu-items {
    opacity: 1;
    visibility: visible;
}

/* CARD SECTION */

.container {
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.card-text {
    text-align: center;
    max-width: 20rem;
    color: black;
    font-weight: 700;
}

.card {
    height: 400px;
    width: 500px;
    background-image: url("sunset-landscape-background-with-mountains-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.7);
    color: grey;
    cursor: pointer;
    transition: 0.3s;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 300px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
    transition: 0.3s;
}

.card-wrapper p {
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    margin: 10px 0 0 0;
    transition: 0.3s;
}

.card:hover {
    filter: unset;

}

.card:hover>.card-wrapper::before {
    height: 300px;
    width: 400px;
    opacity: 1;
}

.card:hover>.card-wrapper h2 {
    color: white;
}

.card:hover>.card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 1rem;
    color: grey
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    max-width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3B3C;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 1rem;
}

/* RESPONSIVE */


@media (max-width: 1200px) {
    .card-container {
        flex-direction: column;
    }

}

@media (max-width: 800px) {
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 2rem;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        max-width: 15rem;
    }

    .card:hover>.card-wrapper::before {
        height: 190px;
        width: 190px;
    }

    .card-wrapper h2 {
        font-size: 1.3rem;
    }


    .menu-items ul li a {
        font-size: 1.3rem !important;
        font-weight: 700;
    }
}